In [3]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

In [4]:
# Get path to the repo directory
dir_path = "/".join(os.getcwd().split("/")[:-1])
print(dir_path)

In [5]:
# Create an URL object
url = 'https://projects.oregonlive.com/indigent-burials/indigent.json'
# Create object page
page = requests.get(url)

# print(page.json())

In [6]:
oregon = pd.read_json(url)
oregon.head()

        date                  name
0 2000-01-01  BEIGHTS, Karl Wesleu
1 2000-01-01     CATER, Jon Leslie
2 2000-01-01  CRAFT, Michael David
3 2000-01-01      DIETZ, Wendenlin
4 2000-01-01   DILKA, Richard Earl

In [7]:
oregon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6554 entries, 0 to 6553
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6554 non-null   datetime64[ns]
 1   name    6554 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 102.5+ KB

In [8]:
oregon['date'] = pd.to_datetime(oregon['date'])

In [9]:
oregon.describe()

C:\Users\rapid\AppData\Local\Temp\ipykernel_22964\1322716237.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  oregon.describe()

                       date                     name
count                  6554                     6554
unique                 1556                     6528
top     2015-04-01 00:00:00  Unidentified White Male
freq                     55                        5
first   2000-01-01 00:00:00                      NaN
last    2021-12-29 00:00:00                      NaN

In [10]:
# Output reviews data to the "web-scraping" folder
oregon.to_csv((dir_path + "../web-scraping/oregon/the-unclaimed.csv"), index=False, encoding='utf-8')