In [1]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

In [2]:
# Get path to the repo directory
dir_path = "/".join(os.getcwd().split("/")[:-1])
print(dir_path)

In [3]:
# Create an URL object
url = 'https://projects.oregonlive.com/indigent-burials/indigent.json'
# Create object page
page = requests.get(url)

# print(page.json())

In [4]:
oregon = pd.read_json(url)
oregon.head()

        date                  name
0 2000-01-01  BEIGHTS, Karl Wesleu
1 2000-01-01     CATER, Jon Leslie
2 2000-01-01  CRAFT, Michael David
3 2000-01-01      DIETZ, Wendenlin
4 2000-01-01   DILKA, Richard Earl

In [5]:
oregon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6554 entries, 0 to 6553
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6554 non-null   datetime64[ns]
 1   name    6554 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 102.5+ KB

In [6]:
oregon['date'] = pd.to_datetime(oregon['date'])

In [7]:
oregon.describe()

C:\Users\rapid\AppData\Local\Temp\ipykernel_7460\1322716237.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  oregon.describe()

                       date                     name
count                  6554                     6554
unique                 1556                     6528
top     2015-04-01 00:00:00  Unidentified White Male
freq                     55                        5
first   2000-01-01 00:00:00                      NaN
last    2021-12-29 00:00:00                      NaN

In [8]:
# Output reviews data to the "web-scraping" folder
oregon.to_csv((dir_path + "../web-scraping/oregon/the-unclaimed.csv"), index=False, encoding='utf-8')

In [9]:
r = requests.get('https://www.dignitymemorial.com/plan-funeral-cremation/veterans/homeless-veterans-program/21-homeless-vet-burials')
# print the first 500 characters of the HTML
print(r.text[0:500])
soup = BeautifulSoup(r.text, 'html.parser')

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><script type="text/javascript">window.NREUM||(NREUM={});NREUM.info = {"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","licenseKey":"eac7771f5a","applicationID":"1360028078","transactionName":"ZldUMkRSWUUEVBFdWV8dezB1HGRfEVIGW0RUcVkIQkFYWglSFxt/X1ZTHg==","queueTime":0,"applicationTime":368,"agent":"","atts":""}</script><script type="text/

In [10]:
results = soup.find_all('h2')
# results

In [11]:
len(results)

21

In [12]:
results[:3]

[<h2><a class="basic-link" href="https://www.dignitymemorial.com/obituaries/phoenix-az/will-shegog-8179335" rel="noopener noreferrer" target="_blank">Will Melvin Shegog, U.S. Air Force</a></h2>,
 <h2><a class="basic-link" href="https://www.dignitymemorial.com/obituaries/knoxville-tn/ronnie-lundy-8141440" rel="noopener noreferrer" target="_blank">Ronnie Joe Lundy, U.S. Army</a></h2>,
 <h2><a class="basic-link" href="https://www.dignitymemorial.com/obituaries/lexington-sc/joseph-williams-8710549" rel="noopener noreferrer" target="_blank">Joseph Lorenzo Williams, U.S. Army</a></h2>]

In [13]:
results[-1]

<h2>
Ronald Baker Thomas, U.S. Army
</h2>

In [14]:
# Extracting the name
first_result = results[0]
first_result

In [15]:
first_result.text
#     or 
# first_result.find('a').text[0:-1]

'Will Melvin Shegog, U.S. Air Force'

In [16]:
first_result.text.split(',')[0]

'Will Melvin Shegog'

In [17]:
name_head = []
for i in soup.find_all('h2'):
 title = i.text.split(',')[0].strip()
 name_head.append(title)
name_head

['Will Melvin Shegog',
 'Ronnie Joe Lundy',
 'Joseph Lorenzo Williams',
 'Danny Rollin Ballantyne',
 'George Charles Babcock',
 'James Miske',
 'Stephen Jerald Spicer',
 'Howard Nicholas Warren',
 'Charles Bradley Fox',
 'James David Ellis',
 'Frank Harmon Wilson',
 'Wesley Russell',
 'Arnold Martin Klechka',
 'James Michael Farrar',
 'Charles Joseph Burnett',
 'Robert Lee Baker',
 'Stephen Sebastian Cunningham',
 'George Shaw',
 'Richard Lindsay Butterfield',
 'Gary Lynn Andrews',
 'Ronald Baker Thomas']

In [18]:
main_title = []

for x in results:
  detail = x.text.split(',')[1].strip()
  main_title.append(detail)
main_title

['U.S. Air Force',
 'U.S. Army',
 'U.S. Army',
 'U.S. Marine Corps',
 'U.S. Army',
 'U.S. Navy',
 'U.S. Army',
 'U.S. Army',
 'U.S. Marine Corps',
 'U.S. Army',
 'U.S. Army',
 'U.S. Army',
 'U.S. Army',
 'U.S. Army',
 'U.S. Army',
 'Jr.',
 'U.S. Army',
 'U.S. Coast Guard',
 'U.S. Marine Corps',
 'U.S. Army',
 'U.S. Army']

In [19]:
events = soup.find_all('div', class_ = 'row row-band one-col')
records = []
for event in events:
    event_name = event.find_all('p')[1]
    # print(event_name.text)
    records.append((event_name))

In [20]:
date_record = records[1:]

In [25]:
date_record[0:5]

[<p>March 24, 1960 – Feb. 15, 2019</p>,
 <p>Feb. 4, 1955 – Jan. 18, 2019</p>,
 <p>April 7, 1960 – April 1, 2019</p>,
 <p>Nov. 15, 1944 – April 30, 2019</p>,
 <p>Feb. 17, 1940 – June 4, 2019</p>]

In [26]:
date_record[-1]

<p>
Jan. 3, 1946 – Sept. 8, 2019
</p>